
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');
@import './styles.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{

  --selected: hsl(220, 98%, 61%); /*selected*/

  --background: hsl(235, 21%, 11%);
  --card-background: hsl(235, 24%, 19%);
  --font-primary: hsl(234, 39%, 85%);
  --font-primary-hover: hsl(236, 33%, 92%);
  --desactive: hsl(234, 11%, 52%);
  --font-footer: hsl(233, 14%, 35%);
  --border: hsl(237, 14%, 26%);


}
.dark-mode{
  --background: hsl(0, 0%, 98%); /*background */
  --card-background: hsl(0, 0%, 100%); /*card background*/
  --border: hsl(235, 32%, 92%); /* border*/
  --desactive: hsl(233, 11%, 84%); /*font desative footer*/
  --font-footer: hsl(240, 4%, 56%); /*font footer (all) input*/
  --font-primary: hsl(235, 19%, 35%); /*font*/
}
body{
  background-color: var(--background);
  font-family: "Josefin Sans", serif;
  transition: background-color 0.3s ease;
}
body.dark-mode{
  background-color: var(--background);
  
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
